@media only screen and (min-width:200px) and (max-width:575px){
    header{
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        gap: 15px;
    }
    .logo{
        padding: 10px;
    }
    .headeraddress{
        padding:  10px;
    }
    .headeraddress h3
    {
        font-size: 15px;
    }
    .headeraddress p{
        font-size: 10px;
    }
    .searchbox button{
        padding:10px;
    }
    .headerbutton{
        position: fixed;
        background-color: white;
        width: 100%;
        margin-right: 0px;
        justify-content: center;
        bottom: 0px;
    }
    .bannersection{
        display: none;
    }
    .orderbanner{
        flex-direction: column;
        padding: 10px;
    }
    .categoryitems{
        flex-basis: 25%;
    }
    .productsection{
        padding: 30px 10px;
    }
    .productitem{
        flex-basis: 49%;
    }
    footer{
        padding-top: 0px;
    }
    .footer-mid-r1{
        padding: 10px;
        flex-direction: column;
    }
    .usefullinks ul li{
        flex-basis: 48%;
    }
    .footer-mid-r3{
        padding: 0px 10px;
    }
    .footer-mid-r2{
        flex-direction: column;
        gap: 20px   ;
    }
}